<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- Ссылки для открытия файла html -->
    <link rel="icon" href="../../static/main/logo.svg" type="image/svg">
    <link type="text/css" rel="stylesheet" href="../../static/main/main.css" />

    <!-- Ссылки для открытия в django server -->
    <link rel="icon" href="/static/main/logo.svg" type="image/svg">
    <link type="text/css" rel="stylesheet" href="/static/main/main.css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes - сервис заметок</title>
</head>
<body>
    <header class="startpage">
        <div id="signup" class="button1">
            <h3>Зарегистрироваться</h3>
        </div>
        <div class="logo">
            <img src="../../static/main/logo.svg" alt="logo">
            <h3>Notes</h3>
        </div>
        <div id="signin" class="button1">
            <h3>Войти</h3>
        </div>
    </header>
    <h2 style="display: flex; justify-content: center; margin-top: 20vh; margin-bottom: 20vh;">Добро пожаловать!</h2>
    <script src="/static/main/main.js"></script>
</body>
</html>