<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- Ссылки для открытия файла html -->
    <link rel="icon" href="../../static/main/logo.svg" type="image/svg">
    <link type="text/css" rel="stylesheet" href="../../static/main/main.css" />
    <link type="text/css" rel="stylesheet" href="../../static/main/authorization.css" />

    <!-- Ссылки для открытия в django server -->
    <link rel="icon" href="/static/main/logo.svg" type="image/svg">
    <link type="text/css" rel="stylesheet" href="/static/main/main.css" />
    <link type="text/css" rel="stylesheet" href="/static/main/authorization.css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Регистрация</title>
</head>
<body>
    <div id="authorization">
        <h1>Создание аккаунта</h1>
        <input class="input1" type="email" placeholder="Почта" name="" id="email">
        <input class="input1" type="name" placeholder="Имя" name="" id="name">
        <input class="input1" type="password" placeholder="Новый пароль" name="" id="password1">
        <input class="input1" type="password" placeholder="Повторите пароль" name="" id="password2">
        <p id="info"></p>
        <div id="signupButton" class="button1">
            <h3>Зарегистрироваться</h3>
        </div>
        <a href="/signin/">Войти</a>
    </div>
    <script src="/static/main/height.js"></script>
    <script src="/static/main/api.js"></script>
    <script src="/static/main/signup.js"></script>
</body>
</html>